---
import MySiteLayout from '../layouts/MySiteLayout.astro';

import 'swiper/css';
import 'swiper/css/pagination';
---

<MySiteLayout>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</MySiteLayout>

<style lang="scss">
  @import '../styles/functions.scss';
  @import '../styles/mixins.scss';

  .swiper {
    width: 100%;
    height: 300px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 24px;
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';

  const swiper = new Swiper('.swiper', {
    modules: [Pagination],
    direction: 'horizontal',
    loop: true,

    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>
