---
import MySiteLayout from '../layouts/MySiteLayout.astro';
import Swiper from 'swiper/bundle';
import 'swiper/css/bundle';
---

<MySiteLayout>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</MySiteLayout>

<style lang="scss">
  @import '../styles/functions.scss';
  @import '../styles/mixins.scss';

  .swiper {
    width: 100%;
    height: 300px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-size: 24px;
  }
</style>

<script>
  import Swiper from 'swiper/bundle';

  document.addEventListener('DOMContentLoaded', () => {
    new Swiper('.swiper', {
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>
