$viewport_pc: 2560; // 基準となるビューポート
$viewport_tab: 2048; // 基準となるビューポート
$viewport_sp: 720; // 基準となるビューポート

$breakpoint-tablet-up: 744px;
$breakpoint-desktop-up: 1024px;

// フォント
$font-inter: "Inter", sans-serif;
$font-noto-serif-jp: "Noto Serif JP", serif;
$font-noto-sans-jp: "Noto Sans JP", sans-serif;

// カラー
$base_color_white: #fff;
$base_color_1: #231f20;
$base_color_2: #c11313;
