@import "destyle.css";
@import "./functions.scss";
@import "./mixins.scss";

html {
    scroll-behavior: smooth;
    body {
        @include zen-kaku-gothic-new-regular;
        background-color: #f0f0f0;
        font-family: $font-noto-sans-jp;
        font-weight: 500;
        color: $base_color_1;
    }
}
